/* Define color variables */
:root {
    --inmn-blue: #3C5A81;
    --glaucous: #5B7BB4;
    --ruddy-blue: #66A9E0;
    --vista-blue: #8E9FD5;
    --prussian-blue: #103356;
    --turquiose: #73EEDC;
    --cerise: #D73364;
    --white: #ffffff;
  }
  
  /* General Styles */
  body {
    font-family: 'Roboto', 'Lato', sans-serif;
    background-color: var(--white);
    color: var(--prussian-blue);
    margin: 0;
    padding: 0;
  }
  
  /* Header and Footer */
  header, footer {
    background-color: var(--prussian-blue);
    color: #fff;
    padding: 50px;
    place-items: center; /* Center-aligns items both horizontally and vertically */
  }
  
  header a, footer a {
    color: #fff;
    text-decoration: none;
  }
  
  header a:hover, footer a:hover {
    color: var(--ruddy-blue);
  }
  
  /* Headings */
  h1 {
    color: var(--white);
  }
  
  /* Links */
  a {
    color: var(--ruddy-blue);
    text-decoration: none;
  }
  
  a:hover {
    color: var(--ruddy-blue);
  }
  
  /* Buttons */
  button {
    background-color: var(--turquoise);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: var(--glaucous);
  }
  
  .navbar {
    display: grid;
    place-items: center; /* Center-aligns items both horizontally and vertically */
  }
  .navbar a {
    margin: 10px 0; /* Optional: adjust spacing between links */
  }

  #contact {
    padding: 20px; /* Optional padding for spacing */
  }

  .articles-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Creates a responsive grid */
        gap: 20px; /* Optional spacing between items */
    }

    article {
        box-sizing: border-box; /* Ensures padding and border are included in width calculation */
    }

  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    padding: 15px;
   }
   .row {
    display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
  }
  
  /* Card */
  .card {
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .container {
      padding: 10px;
    }
  
    .col {
      flex: 100%;
    }
  }
  